@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(275, 100%, 97%);
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-left: 20px;
  color: #2F1533;
}

.attribution {
  text-align: center;
}

.star {
  width: 30px;
}

.accordion-container {
  width: 375px;
  margin: 200px auto;
}

.accordion {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}


.accordion-list {
  margin: 0 auto;
  width: 375px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: .75rem;
}

.title {
  color: #2f1533;
  font-size: 1rem;
  font-weight: 600;
}

.title:hover {
  color: hsl(293, 67%, 50%);
}


/* .plus-minus {
  font-size: 1.2rem;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background-color: hsl(292, 16%, 49%);
  color: #fff;
  text-align: center;
} */

.plus-minus {
  height: 25px;
}

.toggled {
  background-color: hsl(292, 42%, 14%);
}


.text {
  padding: .75rem;
  color: hsl(292, 16%, 49%);
  line-height: 1.7;
}

@media screen and (min-width: 1024px) {

  body {
    background-image: url('./assets/images/background-pattern-desktop.svg');
  }

  h1 {
    font-size: 4.5rem;
    margin-left: 0;
  }

  .star {
    width: auto;
  }

  .accordion-container {
    width: 775px;
    margin: 200px auto;
  }

  .accordion {
    width: 740px;
    padding: 30px;
  }

  .accordion-list {
    width: 680px;
  }

  .title {
    font-size: 1.3rem;
  }


  .plus-minus {
    width: 35px;
    height: auto;
  }

  .text {
    font-size: 1.2rem;
  }
}